// Place all the styles related to the accounting/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.nested-category .name{
  padding-left:10px;
}


.category_depth_0{
  font-weight: bold;
}
.category_depth_1 .name{
  padding-left: 20px
}
.category_depth_2 .name{
  padding-left: 40px;
}

.category_depth_3 .name{
  padding-left: 50px;
}
