p#notice = notice

= render 'categories'

=> link_to "nieuwe subcategory", new_accounting_category_path(parent_id: @accounting_category.id)
'|
=> link_to 'Bewerken', edit_accounting_category_path(@accounting_category)
'|
=> link_to 'destroy', @accounting_category, data: {confirm: 'are you sure?'}, method: :delete
'|
=< link_to 'Terug', accounting_categories_path
